.dark{
    background-color: #111827 !important;
}

@font-face {
    font-family: AdobeClean;
    font-weight: 500;
    src: url("../fonts/AdobeClean/AdobeClean-medium.otf");
  }

  @font-face {
    font-family: Mikhak;
    font-weight: 500;
    src: url("../fonts/MIKHAK/Mikhak-Medium.ttf");
  }


*{
  font-family: Mikhak !important;
}
.carousel__icon{
  color:orange !important;
}
.projects__container {
  row-gap: 2rem;
  padding-block: 1rem;
}
.home__social {
  display: flex;
  justify-content: center;
  column-gap: 1.25rem;
  margin-bottom:5rem;
}
.home__social-link {
  display: flex;

  padding: .5rem;
  font-size: 1.5rem;
  transition: transform .4s;
}
.home__social-link:hover {
  transform: translateY(-.25rem);
}